* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: rgb(70, 70, 70);
}

a {
  color: inherit;
  text-decoration: none;
}

/* App */
.app-container {
  background: rgb(145, 156, 143);
}

/* Navbar */
nav.nav-container {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.nav-container .nav-item-container {
  padding: 30px;
}

/* Homepage */
.posts-container {

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
